<h1>Survey Statistics</h1>

<% if !@survey.respondents.include? current_user %>
  <div id='survey-link'>
    <a href="/users/<%=current_user.id%>/surveys/<%=@survey.id%>">take this survey</a>
  </div>
<% end %>

<h1 id:"survey-title"><%= @survey.title %></h1>
<h4>(<%= @survey.respondents.uniq.count %> respondents)</h4>

<% if @survey.respondents.count > 0 %>
  <span id="survey-id"><%= @survey.id %></span>
  <div id="container"></div>
<% end %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src='/js/chart.js'></script>