<h1 id:"survey-title"><%= @survey.title %> (<%= @survey.respondents.uniq.count %> respondents)</h1>

<% if !@survey.respondents.include? current_user %>
  <div id='survey-link'>
    <% if logged_in? %>
      <a class='btn btn-primary btn-lg' href="/users/<%=current_user.id%>/surveys/<%=@survey.id%>">take this survey</a>
    <% else %>
      <a class='btn btn-primary btn-lg' id="modal" href="/surveys/<%= @survey.id %>">take this survey</a>    
    <% end %>
  </div>
<% end %>

<% if !(@survey.creator == current_user) %>
  <div class='wrap-center'><a class='btn btn-primary btn-lg' href="/users/<%= @survey.creator.id %>/surveys">more from <%= @survey.creator.username %></a></div>
<% end %>

<% if @survey.respondents.count > 0 %>
  <span id="survey-id"><%= @survey.id %></span>
  <div id="container"></div>
<% end %>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src='/js/chart.js'></script>
<script src='/js/lib/jquery.simplemodal.js'></script> <!-- SOURCE: http://www.ericmmartin.com/projects/simplemodal/ -->
<script src="/js/modal.js"></script>