<h1>Survey Statistics</h1>

<% if !@survey.respondents.include? current_user %>
  <div id='survey-link'>
    <a href="/users/<%=current_user.id%>/surveys/<%=@survey.id%>">take this survey</a>
  </div>
<% end %>

<h1 id:"survey-title"><%= @survey.title %></h1>
<h4>(<%= @survey.respondents.uniq.count %> respondents)</h4>

<% if @survey.respondents.count > 0 %>

  <table class="table table-striped" id='survey-results'>
    <% @survey.questions.each do |question| %>

      <tr>
        <% if !@user_responses.empty? %>
          <% response = @user_responses.find_by(question_id: question.id) %>
          <th colspan="1" class="info"><%= question.content %></th>
          <th colspan="2" class="info">My answer: <%= response.content %></th>  
        <% else %>
          <th colspan="3" class="info"><%= question.content %></th>          
        <% end %>      
      </tr>

      <% question.choices.each do |choice| %>
        <tr>
          <td><%= choice.content %></td>
          <td><%= choice.responses.count %></td>
          <td><%= (choice.responses.count.to_f/question.responses.count * 100).round %>%</td>
        </tr>
      <% end %>

    <% end %>
  </table>
<% end %>