<h1><%= @survey.title %></h1>

<form class="take-survey" action="/surveys/<%= @survey.id %>" method="post">

  <% @survey.questions.each do |question| %>
    <h4 class="question"><%= question.content %></h4>

    <div class='wrap-center'>
      <% question.choices.each do |choice| %>
        <input type="radio" name="response[<%= question.id %>]" value="<%= choice.id %>"> <%= choice.content %>
        <br>
        <br>
      <% end %>
    </div>
  <% end %>

  <span id="missing-answers"></span>
  <div class='wrap-center'><input class='btn btn-primary btn-lg' type="submit" value="Submit"></div>

</form>

